body {
  margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Maitree', serif;
  color: #FFB454;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	text-transform: capitalize;
	margin: 10px 0;
}

li {
	margin: 5px 0;
}


// colors: #8DF8B7 #AEBDFF #FFB454